.ele-join-section {
	box-sizing: border-box;
	padding: 37px 27px 40px 46px;
	margin: 0 auto;
    .info-title {
		font-size: 20px;
		font-weight: 400;
		color: var(--join-subtitle);
		margin: 10px 0 14px;
    }
}
.ele-join-section {
    box-sizing: border-box;
    height: calc(100% - 48px);
    font-size: 18px;
	color: var(--join-text);
    border-radius: 0 18px 18px 0;
    padding: 63px 50px 131px;
    margin: 0;
    .page-join-inner {
        width: 660px;
		margin: 0 auto;
    }
}

.ele-join-member-wrap {
    position: relative;
    .join-header-title {
        overflow: hidden;
        max-height: 70px;
        font-size: 24px;
        font-weight: bold;
        color: var(--join-title);
        text-indent: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 80px;
        background: url('/image/not-use/join/m_welcome.png') 0 0 no-repeat;
        padding-left: 60px;
        margin-bottom: 10px;
        position: relative;
    }
}



.field {
    box-sizing: border-box;
    width: 98%;
    padding-left: 16px;
    margin: 0 auto 20px;
    position: relative;
    .star {
        display: none;
        position: absolute;
        top: 11px;
        left: 0;
        width: 10px;
        line-height: 16px;
        font-size: 14px;
        color: var(--join-star);
        &.is-required {
            display: block;
        }
    }
	.base-input {
		width: 100%;
		border: 1px solid var(--join-input-border);
		position: relative;
		input {
			width: 100%;
			height: 36px;
			font-size: 14px;
			color: var(--join-input-text);
			background: var(--join-input-bg);
			padding-left: 2%;
			border: 0;
			border-radius: 0;
			outline: none;
			box-sizing: border-box;
		}
		&:has(input:focus) {
			border-color: var(--join-input-focus);
		}
		.noEye {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -15px;
			background: url('/image/not-use/join/join_btn_icon.png') -36px -28px no-repeat;
			width: 36px;
			height: 30px;
			cursor: pointer;
		}
	}
	.text-unicode {
		color: var(--join-input-placeholder);
		line-height: 30px;
		right: 82px;
	}
	.icon, .text-unicode {
		height: 30px;
		margin-top: -15px;
		position: absolute;
		top: 50%;
	}
	.icon {
		width: 36px;
		background: url('/image/not-use/join/join_btn_icon.png') no-repeat;
		right: 10px;
		&.icon-unicode {
			background-position: -72px 0;
			right: 46px;
		}
	}
	.captcha-msg-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.refresh-icon {
		margin: 3px 0 3px 8px;
		width: 12px;
		height: 12px;
		color: var(--join-captcha);
	}
	.captcha-msg {
		float: left;
		margin: 1px 0 0 6px;
		max-width: 445px;
		line-height: 19px;
		color: var(--join-captcha);
		font-size: 12px;
		letter-spacing: .6px;
	}
}

.join-form {
	padding-bottom: 40px;
}

.join-form-agree {
	font-size: 16px;
    line-height: 20px;
	text-align: center;
	margin-bottom: 24px;
	.agree {
		margin-right: 10px;
	}
	a {
		color: rgb(var(--color-primary));
		cursor: pointer;
	}
}

.join-form-btn {
	cursor: pointer;
    display: block;
    text-align: center;
    width: 200px;
    height: 36px;
    font-size: 15px;
    color: var(--join-submit-text);
    background: var(--join-submit-bg);
    border: var(--join-submit-border);
	border-radius: var(--join-submit-radius);
    outline: 0;
    margin: 0 auto;
		&:hover {
			color: var(--join-submit-hover-text);
			background-color: var(--join-submit-hover-bg);
		}
}

.separate-line {
	border-top: 1px solid var(--join-line);
    margin: 15px 0;
}

.wallet-wrap {
    box-sizing: border-box;
    width: 98%;
    background: var(--join-wallet-bg);
    border: 1px solid var(--join-wallet-border);
    border-radius: 4px;
    padding: 15px 10px;
    margin: 0 auto 10px;
	.wallet-title-wrap {
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		.wallet-title-bg {
			position: relative;
			&::before {
				content: "";
				width: 100%;
				height: 1px;
				background: var(--join-wallet-line);
				position: absolute;
				top: 50%;
				left: 0;
			}
		}
		.wallet-title-content {
			display: inline-block;
			max-width: 70%;
			color: var(--join-wallet-title);
			background: var(--join-wallet-bg);
			word-break: break-all;
			padding: 0 20px;
			position: relative;
		}
		.wallet-subtitle {
			color: rgb(117 117 117);
			margin-top: 10px;
		}
	}
}

.wallet-radio-wrap {
	font-size: 12px;
	text-align: center;
	border-radius: 4px;
	padding-top: 5px;
	.wallet-radio-item {
		display: inline-block;
		vertical-align: top;
		max-width: 60px;
		min-width: 40px;
		min-height: 40px;
		color: var(--join-input-placeholder);
		cursor: pointer;
		user-select: none;
		margin: 10px 5px 0;
		position: relative;
		&.active {
			color: var(--join-wallet-primary);
			.wallet-bank-icon::before {
				display: block;
			}
		}
		.wallet-bank-icon {
			box-sizing: border-box;
			width: 40px;
			height: 40px;
			background-size: 24px;
			background-color: var(--join-input-bg);
			background-repeat: no-repeat;
			background-position: 50%;
			background-image: url('/image/not-use/join/wallet_nolink.png');
			border: 2px solid rgb(237 237 237);
			border-radius: 50%;
			margin-left: -20px;
			position: absolute;
			top: 0;
			left: 50%;
			&::before {
				content: "\2713";
				display: none;
				width: 16px;
				height: 16px;
				color: rgb(255 255 255);
				background: var(--join-wallet-primary);
				border-radius: 50%;
				position: absolute;
				top: -4px;
				left: -4px;
			}
			&.cg {
				background-image: url('/image/not-use/join/wallet_cgpay.png');
			}
			&.os {
				background-image: url('/image/not-use/join/wallet_ospay.png');
			}
		}
		.wallet-bank-label-wrap {
			padding-top: 32px;
			position: relative;
		}
		.wallet-bank-label {
			background: var(--join-wallet-label);
			font-weight: 700;
		}
	}
}


.join-footer-content {
	font-size: 15px;
	line-height: 35px;
	color: var(--join-tips);
}