@use "sass:list";
@use "@/assets/styles/env" as *;

body {
    &.is-static {
        min-width: var(--page-width);
        background-color: rgb(var(--color-primary-bg));
    }
}

.is-static .page-layout {
    min-height: 100vh;
    font-size: 12px;
    color: rgb(var(--color-primary-text));
}

.ele-float-bottom {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 990;
    transition: opacity 0.3s, visibility 0.3s, max-width 0.3s;
    .ele-float-bottom-link {
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgb(var(--color-secondary-text) / 50%);
        border-radius: .1875rem;
        opacity: 0.8;
    }
}


.first-section-wrap {
    .section-wrap {
        max-width: var(--page-width);
        margin: 0 auto;
    }
}


.page-header {
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.first .page-header {
    height: auto;
    background: none !important;
    &::after {
        display: none;
    }
}

// Header Top, Logo & Navigation
.header-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    .header-container {
        display: grid;
        grid-template-columns: auto 1fr;
        width: var(--page-width);
        margin: 0 auto;
    }
}

.ele-logo-wrap {
    overflow: hidden;
    display: block;
    height: 100px;
    margin-left: 31px;
    .ele-logo-img {
        isolation: isolate; //混合限制在 SVG 內，避免跟頁面背景相乘導致邊緣異常
        color: rgb(var(--color-primary));
    }
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.header-right-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 5px 0 0;
}

.ele-custom-link-wrap {
    max-width: 500px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    .ele-custom-link {
        display: inline-block;
        a {
            color: rgb(var(--color-secondary-text));
            margin: 0 10px;
        }
        &:hover a {
            color: rgb(255 255 255);
        }
    }
    .ele-custom-link-line {
        display: inline-block;
        vertical-align: top;
        color: rgb(var(--color-secondary-text));
    }
}

.header-right-middle {
    height: 52px;
}


// Header Middle, Login & Member
.header-middle {
    width: var(--page-width);
    height: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 8;
    .header-container {
        width: 1150px;
        position: absolute;
        left: 90px;
        bottom: 10px;
    }
}

.first {
    .header-middle {
        height: 530px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        .header-container {
            width: 100%;
            position: static;
        }
    }
    .member-wrap {
        box-sizing: border-box;
        width: 280px;
        min-height: 280px;
        border-radius: 40px 0;
        background-color: rgb(var(--color-secondary-bg) / 90%);
        border: 1px solid rgb(var(--color-primary) / 30%);
        box-shadow: 0 0 10px 0  rgb(0 0 0 / 10%);
        padding: 22px 15px;
        position: absolute;
        bottom: 90px;
        left: 16px;
        .login-title,
        .meminfo-title {
            font-size: 24px;
            font-weight: 400;
            color: rgb(var(--color-primary-text));
            padding-left: 14px;
            margin-bottom: 18px;
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 24px;
                border-radius: 4px;
                background: rgb(var(--color-primary));
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    .meminfo-wrap {
        font-size: 14px;
        .mem-info-wrap {
            width: 100%;
        }
        .meminfo-title {
            display: block;
        }
        .ele-meminfo-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            border-bottom: 1px solid rgb(217 217 217);
            padding: 0 0 12px 12px;
            margin-bottom: 12px;
        }
        .ele-meminfo-link-wrap {
            padding-left: 8px;
            ul {
                gap: 6px;
            }
        }
        .ele-logout-btn {
            max-width: 250px;
            margin-top: 23px;
            position: static;
        }
    }
    .login-wrap {
        width: 250px;
        height: 278px;
        margin-bottom: 0;
        .login-title {
            display: block;
        }
        .login-form {
            flex-direction: column;
            gap: 16px;
        }
        .ele-login-submit, .ele-join-btn {
            max-width: 250px;
        }
    }
    .news-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        .news-container {
            width: 100%;
            padding-left: 400px;
        }
    }
}


.member-wrap {
    margin-bottom: 15px;
}

.login-wrap {
    .login-title {
        display: none;
    }
    .login-form {
        display: flex;
        gap: 10px;
    }
    .ele-login-unit {
        width: 100%;
        max-width: 405px;
        height: 42px;
        background-color: rgb(0 0 0 / 10%);
        border-radius: 6px;
        .ele-login-input {
            width: calc(100% - var(--input-padding));
        }
    }
    .ele-show-password {
        background-color: rgb(var(--color-primary-text));
        right: 50px;
    }
    .ele-forget-pw {
        font-size: 14px;
        color: rgb(var(--color-primary-text));
        position: absolute;
        top: 50%;
        right: var(--input-padding);
        transform: translateY(-50%);
    }
    .ele-login-placeholder,
    .ele-acc-unicod {
        font-size: 14px;
    }
    .ele-login-submit {
        width: 100%;
        max-width: 150px;
        height: 42px;
        font-size: 18px;
        font-weight: 400;
        color: rgb(var(--color-secondary-bg));
        border-radius: 6px;
        background: linear-gradient(180deg, rgb(255 255 255 / 40%) 0%, rgb(255 255 255 / 0)) 100%, rgb(var(--color-primary));
        &:hover {
            background: rgb(var(--color-primary));
        }
    }
    .ele-join-btn {
        display: block;
        text-align: center;
        align-content: center;
        width: 100%;
        max-width: 150px;
        height: 42px;
        font-size: 18px;
        font-weight: 400;
        color: rgb(var(--color-primary));
        border-radius: 6px;
        background: transparent;
        border: 1px solid rgb(var(--color-primary));
        box-sizing: border-box;
        &:hover {
            color: rgb(var(--color-secondary-bg));
            background: rgb(var(--color-primary));
        }
    }
}

.meminfo-wrap {
    .meminfo-title {
        display: none;
    }
    .mem-info-wrap {
        width: calc(100% - 250px);
    }
    .ele-meminfo-wrap {
        display: flex;
        gap: 53px;
        line-height: 24px;
        margin-bottom: 2px;
    }
    .meminfo-link-wrap {
        position: relative;
    }
    .ele-logout-btn {
        width: 100%;
        max-width: 150px;
        height: 42px;
        font-size: 18px;
        font-weight: 400;
        color: rgb(var(--color-secondary-bg));
        border-radius: 6px;
        background: linear-gradient(180deg, rgb(255 255 255 / 40%) 0%, rgb(255 255 255 / 0)) 100%, rgb(var(--color-primary));
        position: absolute;
        right: 10px;
        bottom: 0;
        &:hover {
            background: rgb(var(--color-primary));
        }
    }
}
.ele-meminfo-wrap {
    font-size: 14px;
    .ele-meminfo strong {
        font-weight: normal;
    }
    .ele-meminfo-balance {
        strong {
            color: rgb(var(--color-primary));
        }
    }
    .ele-meminfo-balance,
    .ele-other-balance {
        display: inline-block;
        vertical-align: middle;
    }
    .ele-other-balance-icon {
        width: 15px;
        height: 15px;
        background: rgb(var(--color-primary));
        mask: url('/image/not-use/ic_balance.svg');
        margin-left: 6px;
    }
}

.ele-meminfo-link-wrap {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        font-size: 14px;
        line-height: 24px;
    }
    .ele-meminfo-link {
        display: block;
        a {
            color: rgb(var(--color-primary-text));
            margin: 0 3px;
        }
        &:hover a {
            color: rgb(var(--color-primary));
        }
    }
    .ele-meminfo-link-line {
        display: inline-block;
        color: rgb(var(--color-primary-text));
    }
}

// mainnav
.mainnav-wrap {
    display: inline-block;
    .ele-navbar {
        >ul {
            display: flex;
            gap: 10px;
            padding-right: 2px;
        }
    }
    .ele-morenav-link-wrap {
        display: inline-block;
        width: 20px;
        position: relative;
        .ele-morenav-sublink-title {
            display: block;
            width: 15px;
            height: 18px;
            mask: url('/image/sub.svg') no-repeat center;
            mask-size: contain;
            background-color: rgb(var(--color-primary-text));
            position: absolute;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
        }
        .ele-morenav-container {
            position: absolute;
            top: 24px;
            right: 0;
            z-index: 902;
        }
        .ele-morenav-sublink {
            display: block;
            width: 128px;
            height: 38px;
            text-align: center;
            align-content: center;
            color: rgb(255 255 255);
            background-color: rgb(18 18 18 / 95%);
            &:hover {
                color: rgb(var(--color-primary));
            }
        }
    }
    @each $icon in "first", "ball", "live", "game", "ltlottery", "card", "fish", "promotion", "mob", "agent", "service" {
        .ele-navbar-link-#{$icon} .ele-navbar-icon {
            mask: url('/image/nav_ic_#{$icon}.svg');
        }
    }
    .ele-navbar-link {
        display: block;
        text-align: center;
        align-content: center;
        width: 100px;
        height: 30px;
        font-size: 15px;
        color: rgb(var(--color-primary-text));
        position: relative;
        .ele-navbar-icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background-color: rgb(var(--color-primary-text));
            margin-right: 2px;
        }
        .ele-navbar-title {
            display: inline-block;
            vertical-align: middle;
            line-height: 29px;
        }
        &:hover,
        &.active {
            border-radius: 15px;
            outline: 2px solid rgb(var(--color-primary) / 30%);
            background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(255 255 255 / 80%) 100%), rgb(var(--color-primary));
        }
    }
}

// news
.news-wrap {
    max-width: var(--page-width);
    overflow: hidden;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    bottom: 83px;
    .news-container {
        display: flex;
        align-items: center;
        width: 818px;
    }
    .news-title {
        flex: 0 0 100px;
        display: flex;
        align-items: center;
        height: 32px;
        font-size: 20px;
        color: rgb(var(--color-primary));
        margin-right: 10px;
        .news-title-icon {
            display: block;
            width: 16px;
            height: 16px;
            mask: url('/image/news_title.svg') no-repeat center;
            background-color: rgb(var(--color-primary));
            margin-right: 4px;
        }
    }
    .ele-msgnews-link {
        font-size: 15px;
        color: rgb(var(--color-secondary-text));
        &:hover {
            color: rgb(var(--color-primary));
        }
    }
}

// Header Bottom, Slider & News
.header-bottom {
    overflow: hidden;
    width: 100%;
    height: 530px;
    position: relative;
    .header-container {
        width: var(--page-width);
        height: 500px;
        margin: 0 auto;
        position: relative;
        .ele-slider-wrap {
            width: 100%;
            height: 500px;
            position: absolute;
            left: 271px;
            z-index: -1;
        }
    }
}

.ele-swiper-nav {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 900;
    .first-swiper-btn {
        width: 42px;
        height: 42px;
        background-color: rgb(0 0 0 / 20%);
        border-radius: 50%;
        .first-swiper-icon {
            display: block;
            width: 100%;
            height: 100%;
            mask: url('/image/ic_arrow.svg') no-repeat center;
            background-color: rgb(255 255 255);
        }
        &.first-swiper-next {
            margin-left: 6px;
            .first-swiper-icon {
                transform: rotate(180deg);
            }
        }
        &:hover {
            background-color: rgb(0 0 0 / 80%);
        }
    }
}
.slider-wrap {
    height: 500px;
    background-color: var(--color-primary-bg);
    transition: background-color 0.5s ease;
    border-radius: 0 0 0 126px;
    overflow: hidden;
    .ele-slider-wrap {
        max-width: 1350px;
    }
    .ele-slider-img {
        max-width: 1350px;
        height: 500px;
    }
}

.banner-wrap {
    height: 330px;
    background-position: top;
    background-repeat: no-repeat;
}

// first game
.first-game-wrap {
    width: calc(var(--page-width) - 75px * 2);
    padding: 63px 0 59px;
    margin: 0 auto;
    position: relative;
    .first-game-tabs {
        display: flex;
        gap: 12px;
        margin: 0 0 24px 20px;
        .tab {
            width: 120px;
            height: 42px;
            font-size: 14px;
            color: rgb(var(--color-secondary-text));
            border-radius: 21px;
            background: rgb(var(--color-primary) / 20%);
            &:hover {
                background: rgb(var(--color-primary) / 30%);
            }
            &.active {
                color: rgb(var(--color-secondary-bg));
                background: linear-gradient(180deg, rgb(255 255 255 / 40%) 0%, rgb(255 255 255 / 0%) 100%), rgb(var(--color-primary));
            }
        }
    }
    .first-game-title {
        width: 400px;
        height: 530px;
        position: absolute;
        right: 0;
        bottom: 59px;
        @each $game in "sports", "live", "casino", "lottery", "card", "fish" {
            &-#{$game} {
                background: url('/image/first_game_#{$game}_img.png') no-repeat center bottom;
                background-size: contain;
            }
        }
        .first-game-title-img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .first-game-box {
        box-sizing: border-box;
        display: flex;
        width: 826px;
        height: 530px;
        padding: 30px 20px;
        border-radius: 20px;
        background: rgb(255 255 255 / 20%);
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    }
    .first-game-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px 14px;
        width: 100%;
    }
}
.first-game-item {
    width: 186px;
    height: 224px;
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    .item-img {
        width: 186px;
        height: 188px;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(0 0 0 / 40%);
            z-index: 1;
            opacity: 0;
            transition: opacity .3s;
        }
    }
    .item-name {
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: rgb(var(--first-game-name));
        background-color: rgb(var(--first-game-item));
    }
    .item-btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(var(--color-primary));
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s, top .3s;
        z-index: 2;
        > i {
            display: block;
            width: 24px;
            height: 27px;
            mask: url('/image/ic_play.svg') no-repeat center;
            background-color: rgb(255 255 255);
            margin: 0 auto;
        }
    }
    &:hover {
        .item-img::after {
            opacity: 1;
        }
        .item-btn {
            opacity: 1;
            top: 50%;
        }
    }
}


// first mobile
.first-mob-wrap {
    background: rgb(var(--color-primary) / 5%) center bottom no-repeat;
    padding: 21px 0 1px;
    margin: 0 auto;
    .section-wrap {
        display: flex;
        width: calc(100% - 75px * 2);
    }
    .first-mob-right-wrap {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        padding-top: 51px;
    }
    .first-mob-title {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: rgb(var(--color-primary));
        margin-bottom: 14px;
    }
    .first-mob-description {
        font-size: 20px;
        text-align: center;
        line-height: 32px;
        color: rgb(var(--color-secondary-text));
        word-break: keep-all;
        margin: 0 auto 49px;
    }
    .first-mob-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 138px;
        height: 138px;
        border: 1px solid rgb(var(--color-primary));
        margin: 0 auto;
    }
    .first-mob-text {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        padding-top: 13px;
        .first-mob-text-top {
            font-size: 16px;
            color: rgb(var(--color-secondary-text));
        }
        .first-mob-text-bottom {
            font-size: 16px;
            color: rgb(var(--color-primary));
            padding-top: 2px;
        }
    }
    .first-mob-qrcode {
        display: inline-block;
        margin-right: 70px;
        .first-mob-qrcode-img {
            display: block;
            width: 116px;
            height: 116px;
        }
    }
    .first-mob-h5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        .first-mob-bg {
            background: url('/image/first_h5_bg.png') center no-repeat;
        }
        .first-mob-h5-img {
            width: 60px;
            height: 88px;
            mask: url('/image/first_h5.svg') no-repeat;
            background-color: rgb(var(--color-primary));
            padding-bottom: 20px;
            margin: 0 auto;
        }
    }
    .first-mob-left-wrap {
        display: inline-block;
        vertical-align: top;
    }
}




.page-footer {
    background-color: rgb(var(--color-tertiary-bg));
}
.footer-top-wrap {
    align-content: center;
    height: 99px;
    text-align: center;
    background-color: rgb(var(--color-primary) / 10%);
    border-top: 1px solid rgb(var(--color-secondary-text) / 50%);
}
.footer-bottom-wrap {
    text-align: center;
    font-size: 14px;
    color: rgb(var(--color-secondary-text) / 50%);
    background-color: rgb(var(--color-primary-text));
    padding: 28px 0;
    .footer-logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 59px auto 43px;
        .footer-logo-ub {
            display: inline-block;
            margin-left: 60px;
        }
        .footer-logo-left {
            padding-right: 32px;
        }
        .footer-logo-right {
            border-left: 1px solid rgb(var(--color-secondary-text) / 30%);
            padding-left: 24px;
        }
    }
}

.footer-text-wrap {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 33px;
}
.copyright {
    text-align: center;
    font-size: 14px;
}

.article-menu {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
	.ele-article-link {
        display: inline-block;
        vertical-align: top;
		a {
            display: block;
            width: 124px;
            text-align: center;
			color: rgb(var(--color-secondary-text) / 50%);
		}
		&:hover a {
			color: rgb(var(--color-secondary-text));
		}
	}
	.ele-article-link-line {
		display: inline-block;
        vertical-align: top;
	}
}


.page-body {
    display: flex;
    width: var(--body-width);
    border-radius: 10px;
    margin: 34px auto 80px;
    .advertise & {
        background: rgb(var(--color-secondary-bg) / 80%);
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    }
    .imgHall {
        max-width: 100%;
        margin: 0 auto;
    }
}

.page-sidebar {
    flex: 0 0 270px;
    border-right: 1px solid rgb(var(--color-primary) / 30%);;
}

.sidemenu {
    margin: 60px 0;
    .ele-article-link {
        width: 150px;
        margin: 0 auto;
        margin-bottom: 28px;
        a {
            display: block;
            text-align: center;
            align-content: center;
            height: 40px;
            font-size: 18px;
            color: rgb(var(--color-primary-text));
            border-radius: 20px;
            overflow: hidden;
        }
        &:hover a {
            color: rgb(var(--color-primary));
        }
        &.active a {
            color: rgb(var(--color-primary));
            outline: 2px solid rgb(var(--color-primary));
            background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(255 255 255 / 80%) 100%), rgb(var(--color-primary));
            box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
        }
    }
}

.page-right {
    width: 100%;
}

.article-wrap {
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(var(--color-primary-text));
    padding: 60px 64px;
    p {
        line-height: 28px;
        margin-bottom: 30px;
    }
    ol {
        line-height: 28px;
        padding-left: 18px;
    }
}

.Union {
    margin-bottom: 40px;
    .mtab-menual {
        display: flex;
        justify-content: center;
        gap: 10px;
        border-bottom: 1px solid rgb(var(--color-secondary-text));
        li {
            flex: 0 0 112px;
            height: 35px;
            font-size: 15px;
            text-align: center;
            align-content: center;
            color: rgb(var(--color-primary-text));
            cursor: pointer;
            &.mtab {
                font-weight: bold;
                color: rgb(var(--color-primary));
                border-bottom: 2px solid rgb(var(--color-primary));
            }
        }
    }
}