:root {
	/* layout */
	--page-width: 1320px;
	--body-width: 1200px;

	/* 背景影像（預設無） */
	--page-bg: none;

	/* spacing */
	--input-padding: 12px;

	/* 餘額區塊 */
	--balance-bg: #fff;
	--balance-text: rgb(15 15 15);
	--balance-tool-bg: rgb(var(--color-primary-text));
	--balance-tool-line: transparent;
	--balance-btn-bg: rgb(var(--color-primary));
	--balance-btn-bg-hover: rgb(var(--color-primary) / 90%);
	--balance-btn-text: rgb(var(--color-secondary-bg));
	--balance-btn-radius: 3px;

    /* 註冊 */
    --join-title: rgb(var(--color-primary-text));
    --join-subtitle: rgb(var(--color-primary-text));
    --join-text: rgb(var(--color-primary-text));
    --join-captcha: rgb(128 136 161);
	--join-tips: rgb(var(--color-primary-text));
    --join-line: rgb(var(--color-primary));
    --join-star: rgb(var(--color-primary) / 30%);
    // 註冊 - Input
    --join-input-text: #000;
    --join-input-placeholder: rgb(117 117 117);
    --join-input-bg: rgb(255 255 255);
    --join-input-border: rgb(218 218 218);
    --join-input-focus: rgb(var(--color-primary));
    // 註冊 - Wallet
    --join-wallet-bg: var(--join-input-bg);
    --join-wallet-border: var(--join-input-border);
    --join-wallet-primary: rgb(64 78 103);
    --join-wallet-title: rgb(117 117 117);
    --join-wallet-line: rgb(117 117 117);
    --join-wallet-label: rgb(255 255 255 / 50%);
    // 註冊 - Submit Button
    --join-submit-bg: rgb(var(--color-primary));
    --join-submit-hover-bg: rgb(var(--color-primary) / 90%);
    --join-submit-text: rgb(255 255 255);
    --join-submit-hover-text: rgb(255 255 255);
    --join-submit-border: 0;
    --join-submit-radius: 0;

	/* 共用色 */
	--color-red: 210 25 39;

	/* 預設主題（無品牌時的保底） */
    --color-primary:        54 115 254;      /* #3673FE */
    --color-primary-bg:     44 44 44;        /* #2C2C2C */
    --color-secondary-bg:   254 254 254;     /* #FEFEFE */
    --color-primary-text:   33 36 41;        /* #212429 */
    --color-secondary-text: 180 191 209;     /* #B4BFD1 */
}


/* dark */
:root[data-theme~="dark"] {
    --first-game-item: 15 15 15; /* #0F0F0F */
    --first-game-name: 255 255 255;
}

/* light */
:root[data-theme~="light"] {
    --first-game-item: 251 251 251; /* #FBFBFB */
    --first-game-name: 15 15 15; /* #0F0F0F */
}


/* 2501241 */
:root[data-theme~="2501241"] {
    --color-primary:        54 115 254;      /* #3673FE */
    --color-primary-bg:     44 44 44;        /* #2C2C2C */
    --color-secondary-bg:   254 254 254;     /* #FEFEFE */
    --color-primary-text:   33 36 41;        /* #212429 */
    --color-secondary-text: 180 191 209;     /* #B4BFD1 */
}

/* 2501242 */
:root[data-theme~="2501242"] {
    --color-primary:        242 189 49;      /* #F2BD31 */
    --color-primary-bg:     31 2 4;          /* #1F0204 */
    --color-secondary-bg:   117 78 61;       /* #754E3D */
    --color-primary-text:   190 155 113;     /* #BE9B71 */
    --color-secondary-text: 167 105 43;      /* #A7692B */
}

/* 2501243 */
:root[data-theme~="2501243"] {
    --color-primary:        54 115 254;      /* #3673FE */
    --color-primary-bg:     248 249 253;     /* #F8F9FD */
    --color-secondary-bg:   254 254 254;     /* #FEFEFE */
    --color-primary-text:   56 56 67;        /* #383843 */
    --color-secondary-text: 95 107 132;      /* #5F6B84 */
}

/* 2501244 */
:root[data-theme~="2501244"] {
    --color-primary:        252 69 71;       /* #FC4547 */
    --color-primary-bg:     237 237 237;     /* #EDEDED */
    --color-secondary-bg:   249 245 238;     /* #F9F5EE */
    --color-primary-text:   46 46 53;        /* #2E2E35 */
    --color-secondary-text: 128 127 127;     /* #807F7F */
}